.single-todo-card {
  background-color: #ffe0b2;
  max-width: 250px;
  min-width: 100%;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.task-name {
  padding: 0;
  margin: 0;
}
.task-description {
  height: 35%;
}
.text-element {
  text-align: start;
  color: black;
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Mobile View Port Media Query  */
@media (max-width: 480px) {
  .single-todo-card {
    width: 90vw;
    height: 150px;
  }
  .text-element {
    min-width: 200px;
    max-width: 100%;
  }
}
