.taskName {
  margin: 0;
  width: 100%;
  text-align: left;
}
.singleTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  scroll-snap-align: start;
}
.delete-icon {
  margin-left: 10px;
  cursor: pointer;
}
.delete-icon:hover {
  color: "error";
}
.check-input {
  cursor: pointer;
}
